version: '2'

services:
  dse-1:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - RACK=rack1
      - DS_LICENSE=accept
  dse-2:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      - dse-1
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - SEEDS=dse-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - RACK=rack1
      - DS_LICENSE=accept
  dse-3:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      - dse-2
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - SEEDS=dse-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - DS_LICENSE=accept
  coordinator:
    image: stargateio/coordinator-dse-68:${SGTAG}
    depends_on: 
      - dse-1
    networks:
      - stargate
    ports:
      - 9042:9042
      - 8080:8080
      - 8081:8081
      - 8082:8082
      - 8084:8084
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - CLUSTER_VERSION=6.8
      - DSE=1
      - SEED=dse-1
      - RACK_NAME=rack1
      - DATACENTER_NAME=dc1
      - ENABLE_AUTH=true
  restapi:
    image: stargateio/restapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8082:8082
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
      - STARGATE_REST_PORT=8082
  graphqlapi:
    image: stargateio/graphqlapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 9080:9080
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
      - STARGATE_GRAPHQL_PORT=9080
networks:
  stargate:
