version: '2'

services:
  backend-1:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    ports:
      - 9044:9042
    mem_limit: 2G
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - SEEDS=backend-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - RACK=rack1
      - DS_LICENSE=accept
  backend-2:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      - backend-1
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - SEEDS=backend-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - RACK=rack1
      - DS_LICENSE=accept
  backend-3:
    image: datastax/dse-server:${DSETAG}
    networks:
      - stargate
    mem_limit: 2G
    depends_on:
      - backend-2
    environment:
      - HEAP_NEWSIZE=128M
      - MAX_HEAP_SIZE=1024M
      - SEEDS=backend-1
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - DC=dc1
      - DS_LICENSE=accept
  coordinator:
    image: stargateio/stargate-dse-68:${SGTAG}
    depends_on: 
      - backend-1
    networks:
      - stargate
    ports:
      - 9045:9042
      - 8080:8080
      - 8081:8081
      - 8084:8084
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - CLUSTER_VERSION=6.8
      - DSE=1
      - SEED=backend-1
      - RACK_NAME=rack1
      - DATACENTER_NAME=dc1
      - ENABLE_AUTH=true
  restapi:
    image: stargateio/stargate-restapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8082:8082
    mem_limit: 2G
    environment:
      - STARGATE_GRPC_HOST=coordinator
      - STARGATE_GRPC_PORT=8090
      - STARGATE_REST_PORT=8082
networks:
  stargate:
