version: '2'

services:
  coordinator:
    image: stargateio/coordinator-dse-68:${SGTAG}
    networks:
      - stargate
    ports:
      - 9042:9042
      - 8080:8080
      - 8081:8081
      - 8083:8083
      - 8084:8084
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - CLUSTER_VERSION=6.8
      - DSE=1
      - RACK_NAME=rack1
      - DATACENTER_NAME=dc1
      - ENABLE_AUTH=true
      - DEVELOPER_MODE=true
  restapi:
    image: stargateio/restapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8082:8082
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
      - STARGATE_REST_PORT=8082
  graphqlapi:
    image: stargateio/graphqlapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 9080:9080
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
      - STARGATE_GRAPHQL_PORT=9080
networks:
  stargate:
