version: '2'

services:
  coordinator:
    image: stargateio/coordinator-dse-68:${SGTAG}
    networks:
      - stargate
    ports:
      - "9042:9042"
      - "8081:8081"
      - "8084:8084"
      - "8090:8090"
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=dse-${DSETAG}-cluster
      - CLUSTER_VERSION=6.8
      - DSE=1
      - RACK_NAME=rack1
      - DATACENTER_NAME=dc1
      - ENABLE_AUTH=true
      - DEVELOPER_MODE=true
    healthcheck:
      test: curl -f http://localhost:8084/checker/readiness || exit 1
      interval: 15s
      timeout: 10s
      retries: 10

  restapi:
    image: stargateio/restapi:${SGTAG}
    depends_on:
      coordinator:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "8082:8082"
    mem_limit: 2G
    environment:
      - QUARKUS_HTTP_CORS=true
      - QUARKUS_HTTP_CORS_ORIGINS=*
      - QUARKUS_HTTP_CORS_METHODS=POST,GET,PUT,OPTIONS,DELETE
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
      - QUARKUS_HTTP_ACCESS_LOG_ENABLED=${REQUESTLOG}
      - QUARKUS_LOG_LEVEL=${LOGLEVEL}
    healthcheck:
      test: curl -f http://localhost:8082/stargate/health || exit 1
      interval: 5s
      timeout: 10s
      retries: 10

  graphqlapi:
    image: stargateio/graphqlapi:${SGTAG}
    depends_on:
      coordinator:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "8080:8080"
    mem_limit: 2G
    environment:
      - QUARKUS_HTTP_CORS=true
      - QUARKUS_HTTP_CORS_ORIGINS=*
      - QUARKUS_HTTP_CORS_METHODS=POST,GET,PUT,OPTIONS,DELETE
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
      - QUARKUS_HTTP_ACCESS_LOG_ENABLED=${REQUESTLOG}
      - QUARKUS_LOG_LEVEL=${LOGLEVEL}
    healthcheck:
      test: curl -f http://localhost:8080/stargate/health || exit 1
      interval: 5s
      timeout: 10s
      retries: 10

  docsapi:
    image: stargateio/docsapi:${SGTAG}
    depends_on:
      coordinator:
        condition: service_healthy
    networks:
      - stargate
    ports:
      - "8180:8180"
    mem_limit: 2G
    environment:
      - QUARKUS_HTTP_CORS=true
      - QUARKUS_HTTP_CORS_ORIGINS=*
      - QUARKUS_HTTP_CORS_METHODS=POST,GET,PUT,OPTIONS,DELETE
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
      - QUARKUS_HTTP_ACCESS_LOG_ENABLED=${REQUESTLOG}
      - QUARKUS_LOG_LEVEL=${LOGLEVEL}
    healthcheck:
      test: curl -f http://localhost:8180/stargate/health || exit 1
      interval: 5s
      timeout: 10s
      retries: 10

networks:
  stargate:
