[submodule "grpc/src/main/proto"]
	path = grpc/src/main/proto
	url = https://github.com/stargate/stargate-grpc-proto.git
[submodule "testing/src/test/proto"]
	path = testing/src/test/proto
	url = https://github.com/stargate/stargate-grpc-proto.git
