---
# please keep properties in the alphabetical order

stargate:

  # security and authentication configuration
  # see io.stargate.sgv2.api.common.config.AuthConfig for all config properties and options
  auth:
    # header-based security by default
    # if changed, adapt token resolver type
    header-based:
      enabled: true

    # Cassandra token resolver from principal
    token-resolver:
      type: principal

  # configures data store
  # see io.stargate.sgv2.api.common.config.DataStoreConfig for all config properties and options
  data-store:
    ignore-bridge: ${stargate.multi-tenancy.enabled}

  # configuration related to the documents
  # see io.stargate.sgv2.docsapi.config.DocumentConfig for all config properties and options
  documents:

  # configures metadata keys to include when calling the Bridge
  # see io.stargate.sgv2.api.common.config.GrpcMetadataConfig for all config properties and options
  grpc-metadata:

  # metrics properties
  # see io.stargate.sgv2.api.common.config.MetricsConfig for all config properties and options
  metrics:
    global-tags:
      module: sgv2-docsapi
    tenant-request-counter:
      enabled: ${stargate.multi-tenancy.enabled}

  # multi tenancy settings
  # see io.stargate.sgv2.api.common.config.MultiTenancyConfig for all config properties and options
  multi-tenancy:
    enabled: false

  # queries settings (consistency level, etc)
  # see io.stargate.sgv2.docsapi.config.QueriesConfig for all config properties and options
  queries:

quarkus:

  # general app properties
  application:
    name: Stargate Documents API

  # banner for the startup
  banner:
    path: banner/banner.txt

  # cache properties
  cache:
    caffeine:
      # keyspace cache for the schema management
      keyspace-cache:
        maximum-size: 1000
        expire-after-access: PT5M
        metrics-enabled: true

  # properties for the gRPC clients
  grpc:
    # all the clients' setup, only bridge
    clients:
      bridge:
        host: localhost
        port: 8091
        retry: true
        max-hedged-attempts: 0

    # force no grpc server start in dev as we have no grpc service
    dev-mode:
      force-server-start: false

  # HTTP settings
  http:
    # TODO update both port and non-app paths after discussions
    port: 8180
    non-application-root-path: stargate

    # every /v2 path is authenticated by default
    # adapt if changing the authentication mechanism
    auth:
      proactive: false
      permission:
        default:
          paths: /v2/*
          policy: authenticated

  # built-in micrometer properties
  micrometer:
    binder:
      http-server:
        # ignore all non-application uris, as well as the custom set
        suppress-non-application-uris: true
        ignore-patterns: /,/metrics,/swagger-ui.*,.*\.html

        # due to the https://github.com/quarkusio/quarkus/issues/24938
        # we need to define uri templating on our own for now
        # note that order is important
        match-patterns: |
          /v2/namespaces/[\\w]+/collections=/v2/namespaces/{namespace:\\w+}/collections,
          /v2/namespaces/[\\w]+/collections/[\\w]+=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+},
          /v2/namespaces/[\\w]+/collections/[\\w]+/batch=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/batch,
          /v2/namespaces/[\\w]+/collections/[\\w]+/json-schema=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/json-schema,
          /v2/namespaces/[\\w]+/collections/[\\w]+/upgrade=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/upgrade,
          /v2/namespaces/[\\w]+/collections/[\\w]+/(.*?)/.*/function=/v2/namespaces/{namespace:\\w+}/collections/{collection:\w+}/{document-id}/{document-path:.*}/function,
          /v2/namespaces/[\\w]+/collections/[\\w]+/(.*?)/.*=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/{document-id}/{document-path:.*},
          /v2/namespaces/[\\w]+/collections/[\\w]+/.*/function=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/{document-id}/function,
          /v2/namespaces/[\\w]+/collections/[\\w]+/.*=/v2/namespaces/{namespace:\\w+}/collections/{collection:\\w+}/{document-id},
          /v2/schemas/namespaces/[\\w]+=/v2/schemas/namespaces/{namespace:\\w+}

    # exports at prometheus default path
    export:
      prometheus:
        path: /metrics

  # OpenTelemetry configuration
  opentelemetry:
    tracer:
      # in the dev env use the sampler that samples all requests
      sampler:
        ~: ratio
        ratio: 1.0
      # the OTPL should be enabled and endpoint should be specified in order to report traces
      exporter:
        otlp:
          enabled: false
          endpoint:

  # information for the generated Open API definitions
  smallrye-openapi:
    path: /api/docs/openapi
    info-title: ${quarkus.application.name}
    info-version: ${quarkus.application.version:}
    info-description:
    info-terms-of-service:
    info-contact-name: Stargate
    info-contact-url: https://stargate.io
    info-license-name: Apache 2.0
    info-license-url: https://www.apache.org/licenses/LICENSE-2.0.html

  # swagger UI settings
  swagger-ui:
    path: /swagger-ui
    always-include: true
    title: ${quarkus.application.name}
    # function below enables pre-populating the authentication token in the Swagger UI
    # it's reading the value of the token from the sg-swagger-token cookie, if existing
    # cookie extraction copied from: https://stackoverflow.com/questions/10730362/get-cookie-by-name
    # Swagger configuration reference: https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/
    on-complete: |
      function() {
        const value = '; ' + document.cookie;
        const parts = value.split('; sg-swagger-token=');
        if (parts.length === 2) { 
          const token = parts.pop().split(';').shift();
          ui.preauthorizeApiKey('Token', token);
        }
      }

# shared development properties
"%dev":

  # disable retries in the data store config and enable fall back
  stargate:
    data-store:
      bridge-fallback-enabled: true

  io:
    stargate:
      sgv2:
        api:
          common:
            properties:
              datastore:
                configuration:
                  DataStorePropertiesConfiguration/fetchSupportedFeatures/Retry/maxRetries: 0
