version: '2'

services:
  coordinator:
    image: stargateio/coordinator-3_11:${SGTAG}
    networks:
      - stargate
    ports:
      - 9042:9042
      - 8080:8080
      - 8081:8081
      - 8084:8084
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=c4-${CASSTAG}-cluster
      - CLUSTER_VERSION=3.11
      - RACK_NAME=rack1
      - DATACENTER_NAME=datacenter1
      - ENABLE_AUTH=true
      - DEVELOPER_MODE=true
      - BRIDGE_TOKEN=${BRIDGE_TOKEN}
  restapi:
    image: stargateio/restapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8082:8082
    mem_limit: 2G
    environment:
      - STARGATE_GRPC_HOST=coordinator
      - STARGATE_GRPC_PORT=8090
      - STARGATE_REST_PORT=8082
      - BRIDGE_TOKEN=${BRIDGE_TOKEN}
networks:
  stargate:
