version: '2'

services:
  coordinator:
    image: stargateio/coordinator-4_0:${SGTAG}
    networks:
      - stargate
    ports:
      - 9042:9042
      - 8080:8080
      - 8081:8081
      - 8083:8083
      - 8084:8084
      - 8091:8091
    mem_limit: 2G
    environment:
      - JAVA_OPTS="-Xmx2G"
      - CLUSTER_NAME=c4-${CASSTAG}-cluster
      - CLUSTER_VERSION=4.0
      - RACK_NAME=rack1
      - DATACENTER_NAME=datacenter1
      - ENABLE_AUTH=true
      - DEVELOPER_MODE=true
  restapi:
    image: stargateio/restapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8082:8082
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
      - STARGATE_REST_PORT=8082
  graphqlapi:
    image: stargateio/graphqlapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8085:8080
    mem_limit: 2G
    environment:
      - STARGATE_BRIDGE_HOST=coordinator
      - STARGATE_BRIDGE_PORT=8091
  docsapi:
    image: stargateio/docsapi:${SGTAG}
    depends_on:
      - coordinator
    networks:
      - stargate
    ports:
      - 8180:8180
    mem_limit: 2G
    environment:
      - QUARKUS_GRPC_CLIENTS_BRIDGE_HOST=coordinator
      - QUARKUS_GRPC_CLIENTS_BRIDGE_PORT=8091
networks:
  stargate:
