<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
  <jmxConfigurator/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%thread] %date{ISO8601} %F:%L - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="${stargate.logging.level.root:-INFO}">
    <appender-ref ref="STDOUT"/>
  </root>
  <logger name="io.stargate.sgv2" level="${stargate.logging.level.web:-INFO}"/>
</configuration>
