---
# please keep properties in the alphabetical order

stargate:

  # configures metadata keys to include when calling the Bridge
  # see io.stargate.sgv2.docsapi.config.GrpcMetadataConfig for all config properties and options
  grpc-metadata:

  # header based authentication properties, disable if you want no authentication
  # see io.stargate.sgv2.docsapi.config.HeaderBasedAuthConfig for all config properties and options
  header-based-auth:
    enabled: true

  # metrics properties
  # see io.stargate.sgv2.docsapi.config.MetricsConfig for all config properties and options
  metrics:
    global-tags:
      module: docsapi
    tenant-request-counter:
      enabled: true

  # the tenant resolver to use
  # see io.stargate.sgv2.docsapi.config.TenantResolverConfig for all config properties and options
  tenant-resolver:
    type: subdomain

  # the C* token resolver to use
  # see io.stargate.sgv2.docsapi.config.TokenResolverConfig for all config properties and options
  token-resolver:
    type: principal

quarkus:

  # general app properties
  application:
    name: Stargate Documents API

  # banner for the startup
  banner:
    path: banner/banner.txt

  # properties for the gRPC clients
  grpc:
    # all the clients' setup, only bridge
    clients:
      bridge:
        host: localhost
        port: 8091

    # force no grpc server start in dev as we have no grpc service
    dev-mode:
      force-server-start: false

  # HTTP settings
  http:
    # TODO update both port and non-app paths after discussions
    port: 8180
    non-application-root-path: stargate

    # every /api/v2 path is authenticated by default
    # adapt if changing the authentication mechanism
    auth:
      permission:
        default:
          paths: /api/v2/*
          policy: authenticated

  # built-in micrometer properties
  micrometer:
    binder:
      http-server:
        # ignore all non-application uris, as well as the custom set
        suppress-non-application-uris: true
        ignore-patterns:
          - /
          - /metrics
          - /swagger-ui.*
          - .*\.html
        # due to the https://github.com/quarkusio/quarkus/issues/24938
        # we need to define uri templating on our own for now
        match-patterns:
          - /api/v2/example/keyspace-exists/[a-z]+=/api/v2/example/keyspace-exists/{name}
    # exports at prometheus default path
    export:
      prometheus:
        path: /metrics

  # OpenTelemetry configuration
  opentelemetry:
    tracer:
      # in the dev env use the sampler that samples all requests
      sampler:
        ratio: 1.0
      # the OTPL endpoint should be specified in order to report traces
      exporter:
        otlp:
          endpoint:

  # information for the generated Open API definitions
  smallrye-openapi:
    info-title: ${quarkus.application.name}
    info-version: ${quarkus.application.version:}
    info-description:
    info-terms-of-service:
    info-contact-name: Stargate
    info-contact-url: https://stargate.io
    info-license-name: Apache 2.0
    info-license-url: https://www.apache.org/licenses/LICENSE-2.0.html

  # swagger UI settings
  swagger-ui:
    path: /swagger-ui
    always-include: true
    title: ${quarkus.application.name}
