name: Release

on:
  push:
    tags:
      - 'v1.*.*'

  workflow_dispatch:
    inputs:
      skipPublish:
        description: 'Skip publishing JARs to OSSRH?'
        required: true
        default: true
        type: boolean
      tag:
        description: 'Custom release tag value.'
        required: true
        type: string

# global env vars, available in all jobs and steps
env:
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
  MAVEN_OPTS: '-Xmx4g'

jobs:

  # creates a new release if it's not existing
  # outputs the resolved release tag value in the release-tag output var
  # outputs the upload URL in the release-upload-url output var
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      release-tag: ${{ steps.resolve_tag.outputs.tag }}
      release-upload-url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4

      - name: Set reference
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Resolve tag
        id: resolve_tag
        run: |
          TAG=${{ inputs.tag != null && inputs.tag || steps.vars.outputs.tag }}
          echo "Resolved tag for the release $TAG"
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.resolve_tag.outputs.tag }}
          name: Release ${{ steps.resolve_tag.outputs.tag }}
          draft: false
          prerelease: false

  # builds coordinator, zips stargate-lib folder and uploads the zip to the created release
  build:
    name: Build
    needs: create-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: maven

      - name: Setup Maven
        run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>artifactory-snapshots</id>
                <username>${ARTIFACTORY_USERNAME}</username>
                <password>${ARTIFACTORY_PASSWORD}</password>
              </server>
              <server>
                <id>artifactory-releases</id>
                <username>${ARTIFACTORY_USERNAME}</username>
                <password>${ARTIFACTORY_PASSWORD}</password>
             </server>
           </servers>
          </settings>
          EOF

      - name: Build with Maven
        run: |
          cd coordinator/
          mvn -B -ntp versions:set -DremoveSnapshot versions:commit
          mvn -P dse -B -ntp -q -ff clean package -DskipTests

      - name: Zip-up `stargate-lib`
        run: |
          cd coordinator/
          zip stargate-jars.zip starctl stargate-lib/logback.xml stargate-lib/*.jar
          
      # uploads the jars by referencing the release-upload-url from create-release job
      - name: Upload jars
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_url: ${{needs.create-release.outputs.release-upload-url}}
          asset_name: stargate-jars.zip
          asset_path: coordinator/stargate-jars.zip

  # publish coordinator JARs to the OSSRH
  publish:
    name: Publish to OSSRH
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: maven

      - name: Setup Maven
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
        run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>ossrh</id>
                <username>${OSSRH_USERNAME}</username>
                <password>${OSSRH_TOKEN}</password>
              </server>
              <server>
                <id>artifactory-snapshots</id>
                <username>${ARTIFACTORY_USERNAME}</username>
                <password>${ARTIFACTORY_PASSWORD}</password>
              </server>
              <server>
                <id>artifactory-releases</id>
                <username>${ARTIFACTORY_USERNAME}</username>
                <password>${ARTIFACTORY_PASSWORD}</password>
             </server>
           </servers>
          </settings>
          EOF

      - name: Install gpg secret key
        run: |
          cat <(echo -e "${{ secrets.OSSRH_GPG_SECRET_KEY }}") | gpg --batch --import

      - name: Publish package
        if: ${{ !inputs.skipPublish }}
        run: |
          cd coordinator/
          ./mvnw -B -ntp versions:set -DremoveSnapshot versions:commit
          ./mvnw -B -ntp -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} clean deploy -DskipTests -P deploy,dse

      - name: Generate changelog
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./update_changelog.sh

      - name: Bump versions
        run: |
          cd coordinator/
          ./mvnw -B -ntp release:update-versions -DautoVersionSubmodules=true versions:commit -Pdse
          ./mvnw -B -ntp xml-format:xml-format fmt:format -Pdse

      - name: Rev Version
        if: success()
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Bumping version for next release"
          title: "Bumping version for next release"
          branch-suffix: "short-commit-hash"
          base: "v1"

  # dispatch release event
  dispatch:
    name: Dispatch release event
    needs: [ 'create-release', 'build', 'publish']
    if: ${{ always() }}
    continue-on-error: true
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        repo: [ 'stargate/stargate', 'stargate/docker-images', 'riptano/c2', 'riptano/dse-astra-auth-lib']
        include:
          - repo: stargate/stargate
            secret: SG_EVENTS_PAT

          - repo: stargate/docker-images
            secret: SG_EVENTS_PAT

          - repo: riptano/c2
            secret: STARGATE_GH_RELEASE

          - repo: riptano/dse-astra-auth-lib
            secret: STARGATE_GH_RELEASE

    steps:
      - name: Repository dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets[matrix.secret] }}
          repository: ${{ matrix.repo }}
          event-type: stargate-v1-release
          client-payload: '{"version": "${{ needs.create-release.outputs.release-tag }}"}'
